@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
}
#calendar {
  font-family: inlander_outlinerough, serif;
  letter-spacing: 10px;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}
.suff {
  color: #3251d6;
  text-shadow: 0 0 1px #3251d6;
  font-weight: bold;
  animation: pulse 1200ms forwards 100ms;
}
.rage {
  color: #ff1616;
  text-shadow: 0 0 1px #ff1616;
  font-weight: bold;
}
.contact {
  position: absolute;
  bottom: 1rem;
}
.bulle {
  list-style-type: circle;
  color: black;
}
.mylogo {
  top: -1.3rem;
}
.info {
  left: -3rem;
}
.info-inscription {
  left: -34px;
}
.hand {
  top: 3rem;
  right: 1rem;
}
section {
  height: 93vh;
  width: 30vh;
  background-color: #2d2f31;
  /* cursor: pointer; */
  box-shadow: 6px 5px 2px #1b1e20;
  color: #fff;
}
/* Keyframes */
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Media queries*/
@media (min-width: 280px) and (max-width: 640px) {
  .liste_titre {
    font-size: 0.91rem;
  }
}
@media (min-width: 280px) and (max-width: 319px) {
  .actions,
  .yes-container {
    height: 100%;
  }
}
@media (min-width: 390px) and (max-width: 600px) {
  .yes-container {
    height: 100vh;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .actions {
    height: 100vh;
  }
  .ouititle {
    width: 18rem;
  }
}
@media (min-width: 768px) and (max-width: 1020px) {
  .yes-container {
    height: 81vh;
  }
}
